
h1{
    font-family: 'Yellowtail', cursive;
    color: #2A593E;
}

h2{
    font-family: roboto;
    font-weight: 400;
}

ul{
    font-family: Roboto;
}

div{
    font-family: roboto;
}

.underheader{
    position: relative;
    top: 6rem; /* To offset for fixed header. */
}

/*Header*/

nav{
    background-color: white;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0px;
}


.logo{
    height: 6rem;
}


.text{
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


h1.header{
    color:#2A593E;
    font-size: 3rem;
    margin: 1rem;
}


ul.line{
    cursor: pointer;
    display: flex;
}


li{
    padding: 10px 30px;
    border:#C0D98B 2px solid;
    margin-right: 30px;
    border-radius: 10%;
}

li:hover{
    
    background-color: #C0D98B;
}

li:active{
    color: white;
}

@media only screen and (min-width: 950px) and (orientation: portrait) {
    nav{
        height: 10%;
    }

    h1.header{
        font-size: 6rem;
    }

    .logo{
        display: none;
    }

    li{
        display: none;
    }

    .underheader{
        position: relative;
        top: 12rem;
    }
}

/*Main*/

main{
    align-content:center;
    background-image: url("../Imagen4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 45rem;
    width: 100%;
    
   
}

.title{                                   /*This affects other titles*/
    display: flex;
    font-size: 2.5rem;
    height: 50px;
    justify-content: center;
    min-width: 100%;
    max-width: 100%;
    padding: 20px 0px;
}

.square{
    background-color: hsla(135, 28%, 51%, .7) ;
    border-radius: 5%;
    color:#2A593E;
    min-width: 400px;
    position: relative;
    top: 150px;
    left: 5%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
}

.squareitem{
    text-align: center;
}


h1.squareitem{
    font-size: 2.5rem;
    font-weight: 100;
    word-spacing: 5px;
    margin: 0px 10px;
}

h2.squareitem{
    font-size: 3em;
    font-weight: 800;
    word-spacing: 5px;
    position: relative;
    bottom: 20px;
    
}

a{
    color: white;
    font-size: 1.5rem;
    padding: 20px;
    border: 2px #2A593E solid;
    min-height: 60px;
    width: 300px;
    margin: 20px auto;
    border-radius: 7%;
    position: relative;
    bottom: 20px;
}

a:hover{
    color:#2A593E;
    cursor: pointer;
    background-color: #C0D98B;
}

a:active{
    color: white;
}

@media only screen and (min-width: 950px) and (orientation: portrait) {

    h1.squareitem{
        font-size: 4.25rem;
    }

    h2.squareitem{
        font-size: 4.5em;
    }

    a{
        border: 5px #2A593E solid;
        font-size: 3rem;
        padding: 20px;
        min-height: 60px;
        width: 400px;
        margin: 20px auto;
    }

    .square{
        width: 870px;
        height: 500px;
    }

    main{
        height: 1000px;
    }

    .title{
        font-size: 5rem;
        height: 125px;
    }

    .titletext{
        padding: 30px;
    }
}
/*Tutors*/


.background{
    background-color: #2A593E;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: fit-content;
}

.flag{
    border: 6px solid #C0D98B;
    margin: 40px 80px 10px 80px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5%;
    height:150px;
    width: 200px;
}

.flag:hover{
    cursor: pointer;
    border: 6px solid white;
}

.flag:active{
    position: relative;
    top: 3px;
}

p.name{
    color: #C0D98B  ;
    position: relative;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;  
    margin-bottom: 40px;                   /*Try to use the method for the ABOUT US area for the flags it might be easier and better for the text distribution*/
}

@media only screen and (min-width: 950px) and (orientation: portrait) {
    .flag{
        border: 12.5px #C0D98B solid;
        margin: 100px 80px 25px 80px;
        height: 375px;
        width: 500px;
    }

    .flag:hover{
        cursor: pointer;
        border: 12.5px solid white;
    }

    p.name{
        font-size: 3.75rem;
    }
}
/*About Us*/


.us{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.division{
    /*border: red solid 1px;*/
    color: #102026;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;  
}

.lineimage{
    /*border: red solid 1px;*/
    height: 100px;
}

@media only screen and (min-width: 950px) and (orientation: portrait){
    .lineimage{
        height: 500px
    }

    .division{
        font-size: 3.75rem;
    }
}

/*Our Team*/


.team{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.member{
    /*border: red solid 1px;*/
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;  
}

.person{
    border:#C0D98B solid 6px;
    height: 400px;
    margin: 20px;
    border-radius: 50%;
}

@media only screen and (min-width: 950px) and (orientation: portrait){
    .member{
        font-size: 2.75rem;
    }

    .team{
        margin-top: 5rem;
    }
}

/*Footer*/

footer{
    background-color: #C0D98B;
    width: 100%;
}

div.content{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }

.copyright{
    padding: 20px 10px;
    text-align: center;
}


.location{
    padding: 20px 10px;
    text-align: center;
}

@media only screen and (min-width: 950px) and (orientation: portrait){
    footer{
        margin-top: 3rem        ;
        height: 10rem;
        font-size: 2rem;
    }
    div.content{
        flex-direction: column;
    }
}


